/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
body{
    background: lightgrey;
}

.navbar-default .navbar-brand{
    margin-left: 0px;
}

.bars{
    border-left: 2px solid black;
}

h1{
    font-size: 30px;
    color: teal;
    font-weight: bold;
}



.navbar-default .navbar-brand {
    color: white;
    background: teal;
}

.navbar-brand{
    margin-left: 0px;
}


.content-box{
    background: white;
    padding: 20px;
}

/* FOOTER */
footer{
    background: gray;
    height: 60px;
    border-top: 5px solid teal;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media (min-width: 768px){
    .navbar>.container .navbar-brand, 
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
}